hr { 
    display: block; 
    margin-top: auto; 
    margin-bottom: auto; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
}

.description {
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn-upload  {
    margin-top: 50px;
    background-color: #ecaa47;
    box-shadow: none;
    border: none
}

.btn-upload:hover {
    background-color: #ecaa47
}

.btn-upload:focus {
    background-color: #ecaa47;
    box-shadow: none
}

.btn-upload:active {
    background-color: #e6a23e;
    box-shadow: none
}
