.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background-color: #ecaa47;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background-color: #ecaa47
}

.profile-button:focus {
    background-color: #ecaa47;
    box-shadow: none
}

.profile-button:active {
    background-color: #e6a23e;
    box-shadow: none
}

.back:hover {
    color: #03dac5;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background-color: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}