.login-wrapper {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
}

.login-content {
    background: linear-gradient(to bottom, #1a8dbd, #8ca1bd 400px, #6592bd 800px);
    width: 100%;
    height: 100%;
    position: absolute;
}

.login-forgot-password {
    position: absolute;
    display: flex;
    width: 400px;
}

.login-wrapper > div {
    width: 100%;
}

.login-wrapper__header {
    color: #FFF;
    top: 15%;
    left: 50%;
    position: absolute;
    /*-webkit-transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%);
}

.login-wrapper__header .header-avatar {
    background-color: transparent;
    border: 2px solid #fff;
    margin-top: 25px;
    margin-left: 15px;
    width: 64px;
    height: 64px;
}

.login-wrapper__header .header-avatar svg {
    font-size: 48px;
}

.login-wrapper__header .header-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-wrapper__header .header-container h1 {
    color: #fff;
}

.login-wrapper__header .header-container p {
    color: #fff;
}

.login-wrapper__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-wrapper__form > div {
    width: 90%;
}

.login-wrapper__form .form-button {
    width: 90%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.login-footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:5%;   
    text-align: center;
}

.link {
    color: white;
}

.img {
    background-color: transparent;
    background: transparent;
}