.class-widget {
    border: 1px;
    border-color: rgb(0, 87, 185);
    border-style: solid;
    width: 20%;
    margin: 10px;
    padding: 30px 60px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%), 0 2px 2px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 15%), 0 8px 8px rgb(0 0 0 / 15%);
}

.btn-view  {
    margin-top: auto;
    background-color: #ecaa47;
    box-shadow: none;
    border: none
}

.btn-view:hover {
    background-color: #ecaa47
}

.btn-view:focus {
    background-color: #ecaa47;
    box-shadow: none
}

.btn-view:active {
    background-color: #e6a23e;
    box-shadow: none
}
