.header-container .header-title {
    font-size: 28px;
    display: flex;
    color: white!important;
}

.header-container .header {
    display: flex;
    justify-content: space-between;
    background-color: #3f51b5!important;
    height: 10%;
    max-height: 30px;
}

.header-content .header-logo{
    height: 30px;
}

.header-container .header-content {
    display: flex;
    flex-direction: column;
    color: white!important;
}

.header-container .header-name {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.link {
    padding-right: 10px;
}

.header-container .header-name span {
    display: flex;
    padding-left: 5px;
}

.header-container .header-action {
    display: flex;
    justify-content: flex-end;
}

.header-container .header-buttons {
    display: flex;
    justify-content: center;
}

.header-button {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.header-container .header-action a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    vertical-align: middle;
}

.header-container .header-action a:visited {
    text-decoration: none;
}

